<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      body { background: #333; margin: 1.25rem }
      .products, h1 { color: #EEE; font-family: sans-serif }
      a { color: yellow; font-size: 2rem; font-family: sans-serif }
    </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products list</title>
</head>
<body>
    {{{ body }}}
</body>
</html>
